<!doctype html>
<html lang="es">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- site metas -->
      <title>
         {% block title %}Condiciones de uso{% endblock title %}
      </title>
      <meta name="keywords" content="bomberos, permisos">
      <meta name="description" content="aplicación web que gestiona los permisos del colectivo de bomberos Cádiz">
      <meta name="author" content="Diego Fdez.">
      <!-- bootstrap css -->
      <link rel="stylesheet" href="/static/css/bootstrap.min.css">
      <!-- style css -->
      <link rel="stylesheet" href="/static/css/style.css">
      <!-- Responsive-->
      <link rel="stylesheet" href="/static/css/responsive.css">
      <!-- fevicon -->
      <link rel="icon" href="/static/images/fevicon.png" type="image/gif" />
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
      <style>
         .banner {
            background-image: url("/static/images/banner_a.jpg");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 100vh;
            width: 100%;
         }
      </style>
   </head>
   
   <header>
     
   </header>
 
   <body class="main-layout">

      <div class="banner">

         <div class="content" style="margin: 10px;">
            <h2 style="margin-top: 30px;"><strong>Aviso Importante:</strong></h2>
           <p>Esta aplicación NO es una aplicación oficial del Cuerpo de Bomberos Cádiz (CBPC). Ha sido desarrollada de forma independiente con el objetivo de facilitar la gestión de permisos y horarios para el personal operativo del CBPC.</p>
         <h2><strong>Uso bajo su propia responsabilidad:</strong></h2>
           <p>El uso de esta aplicación es completamente voluntario y bajo su propia responsabilidad. El CBPC no se hace responsable de la información mostrada en esta aplicación ni de las consecuencias derivadas de su uso.</p>
         <h2><strong>Recomendación:</strong></h2>
           <p>Siempre verifica la información oficial proporcionada por el CBPC a través de los canales oficiales de comunicación.</p>
          <h2><strong>Objetivo:</strong></h2>
            <p>Mi objetivo es simplificar la vida del personal operativo del CBPC, proporcionando una herramienta útil y fácil de usar para gestionar sus permisos y horarios.</p>
            <h2><strong>Agradezco tu comentario:</strong></h2>
            <p>Si tienes alguna sugerencia o encuentras algún error, por favor, házmelo saber para que pueda mejorar la aplicación. enviando un correo a <a href="mailto:dimafema@gmail.com">dimafema@gmail.com</a></p>
       </div> 
       <a class="btn btn-primary" href="{% url 'home' %}">Ir a la página de inicio</a>
      </div>
  <!-- end loader -->
  
   
   </body>
    <!-- Javascript files-->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/jquery-3.0.0.min.js"></script>
    <!-- sidebar -->
    <script src="/static/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/static/js/custom.js"></script> 
