<section class="banner_main">
    <div id="myCarousel" class="carousel slide banner" data-ride="carousel">
       <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
          <li data-target="#myCarousel" data-slide-to="3"></li>
          <li data-target="#myCarousel" data-slide-to="4"></li>
       </ol>
       <div class="carousel-inner">
          <div class="carousel-item active">
             <div class="container">
                <div class="carousel-caption relative">
                   <div class="row">
                         <div class="col-md-7 offset-md-5">
                            <div class="text-bg">
                               <h1> Gestión <br>vacaciones</h1>
                               <span>Introducir, editar, consultar o eliminar<br> descanso anual</span>
                            </div>
                         </div>
                         <div class="col-md-7 offset-md-5">
                            <div style="margin-top: 5px;"></div>
                               <div class="text-bg">
                                  <a class="read_more" href="{% url 'list_vacaciones'%}">ver</a>
                                  <a class="read_more" href="{% url 'crear_vacaciones'%}">crear</a>
                                  <a class="read_more" href="{% url 'list_edit_vacaciones'%}">editar</a>
                                  <a class="read_more" href="{% url 'list_delete_vacaciones'%}">eliminar</a>
                            </div>
                         </div>
                   </div>
                </div>
             </div>
          </div>
          <div class="carousel-item">
             <div class="container">
                <div class="carousel-caption relative">
                   <div class="row">
                      <div class="col-md-7 offset-md-5">
                         <div class="text-bg">
                            <h1>Gestión<br>AAPP</h1>
                            <span>Introducir, editar, consultar o eliminar<br> asuntos propios</span>
                         </div>
                      </div>
                      <div class="col-md-7 offset-md-5">
                         <div style="margin-top: 5px;"></div>
                            <div class="text-bg">
                               <a class="read_more" href="{% url 'list_vacaciones'%}">ver</a>
                               <a class="read_more" href="{% url 'crear_vacaciones'%}">crear</a>
                               <a class="read_more" href="{% url 'list_edit_vacaciones'%}">editar</a>
                               <a class="read_more" href="{% url 'list_delete_vacaciones'%}">eliminar</a>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
          <div class="carousel-item">
             <div class="container">
                <div class="carousel-caption relative">
                   <div class="row">
                      <div class="col-md-7 offset-md-5">
                         <div class="text-bg">
                            <h1>Gestión<br>solape</h1>
                            <span>Introducir, editar, consultar o eliminar<br> solape</span>
                         </div>
                      </div>
                      <div class="col-md-7 offset-md-5">
                         <div style="margin-top: 5px;"></div>
                            <div class="text-bg">
                               <a class="read_more" href="{% url 'list_vacaciones'%}">ver</a>
                               <a class="read_more" href="{% url 'crear_vacaciones'%}">crear</a>
                               <a class="read_more" href="{% url 'list_edit_vacaciones'%}">editar</a>
                               <a class="read_more" href="{% url 'list_delete_vacaciones'%}">eliminar</a>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
          <div class="carousel-item">
          <div class="container">
             <div class="carousel-caption relative">
                <div class="row">
                   <div class="col-md-7 offset-md-5">
                      <div class="text-bg">
                         <h1>Gestión<br>formación</h1>
                         <span>Introducir, editar, consultar o eliminar<br> horas formación</span>
                      </div>
                   </div>
                   <div class="col-md-7 offset-md-5">
                      <div style="margin-top: 5px;"></div>
                         <div class="text-bg">
                            <a class="read_more" href="{% url 'list_vacaciones'%}">ver</a>
                            <a class="read_more" href="{% url 'crear_vacaciones'%}">crear</a>
                            <a class="read_more" href="{% url 'list_edit_vacaciones'%}">editar</a>
                            <a class="read_more" href="{% url 'list_delete_vacaciones'%}">eliminar</a>
                      </div>
                   </div>
                </div>
             </div>
          </div>
          </div>
          <div class="carousel-item">
          <div class="container">
             <div class="carousel-caption relative">
                <div class="row">
                   <div class="col-md-7 offset-md-5">
                      <div class="text-bg">
                         <h1>Gestión<br>antigüedad</h1>
                         <span>Introducir, editar, consultar o eliminar<br> permisos de antigüedad</span>
                      </div>
                   </div>
                   <div class="col-md-7 offset-md-5">
                      <div style="margin-top: 5px;"></div>
                         <div class="text-bg">
                            <a class="read_more" href="{% url 'list_vacaciones'%}">ver</a>
                            <a class="read_more" href="{% url 'crear_vacaciones'%}">crear</a>
                            <a class="read_more" href="{% url 'list_edit_vacaciones'%}">editar</a>
                            <a class="read_more" href="{% url 'list_delete_vacaciones'%}">eliminar</a>
                      </div>
                   </div>
                </div>
             </div>
          </div>
          </div>
       </div>  
    <div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
         <i class="fa fa-angle-left" aria-hidden="true"></i>
         <span class="sr-only">siguiente</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
         <i class="fa fa-angle-right" aria-hidden="true"></i>
         <span class="sr-only">anterior</span>
    </a>
 </div>         
 </section>