{% extends 'base.html' %}

{% block title %}Editar vacaciones seleccionada{% endblock title %}
     <div class="button-container">

{% block content %}
<hr style="border: 1px solid black;">
<div style="text-align: center;">
    <h2>Editar vacaciones del usuario: {{usuario}}</h2>
</div>
<div class="button-container" style="text-align: center; margin-top: 10px; display: flex; justify-content: center; align-items: center; height: 10vh;">
    <div class="text-center">
        <h2>Seleccione rango de vacaciones que quieres editar</h2>
        <a style="color: black; text-decoration: none;">Días acumulados: <strong>{{ sumatorio_dias}}</strong></a>
    </div>
</div>
<div class="text<i class="fa fa-align-left" aria-hidden="true"></i>
    <ul class="list-group">
        {% for vacacion in vacaciones %}
            <li class="list-group-item" style="background-color: rgba(0, 0, 0, 0.1); color: black; margin: 5px 50px 10px;">
                <a href="{% url 'edit_perm' vacacion.id %}" style="color: black; text-decoration: none;">
                    Empiezas el día: <strong>{{ vacacion.fecha_inicio|date:"d/m/Y" }}</strong> y terminas el día: <strong>{{ vacacion.fecha_fin|date:"d/m/Y" }}</strong> vas a disfrutar de <strong>{{ vacacion.dias_totales }}</strong> días de vacaciones
                </a>
                </a>
            </li>
        {% endfor %}
    </ul>   
</div>
{% endblock %}