{% extends 'base.html' %}

{% block title %}Eliminar permiso{% endblock title %}
     <div class="button-container">

{% block content %}
<hr style="border: 1px solid black;">
    <div style="text-align: center;">    
        <h2>Eliminar permiso</h2>
    </div>
    
    <hr style="border: 1px solid black;">
    <div style="text-align: center;">
        <h2>Vas a eliminar el siguiente rango de vacaciones</h2>
        <p>Desde {{permiso.fecha_inicio|date:"d/m/Y"}} - {{permiso.fecha_fin|date:"d/m/Y"}} con un total de días: {{permiso.dias_totales}}</p>
    </div>
    <div style="text-align: right; padding: 10px;">
        <div href= "{% url delete_perm %}" class="text-bg">
            <div>
                <button type="submit" class="read_more" href="Javascript:void(0)">Eliminar</button>
            </div>
        </div>
    </div>
{% endblock %}