{% extends 'base.html' %}

{% block title %}Editar bolsa seleccionada{% endblock title %}
     <div class="button-container">

{% block content %}
<hr style="border: 1px solid black;">
<div style="text-align: center;">
    <h2>Editar bolsa del usuario: {{usuario}}</h2>
</div>
<div class="button-container" style="text-align: center; margin-top: 10px; display: flex; justify-content: center; align-items: center; height: 10vh;">
    <div class="text-center">
        <h2>Seleccione la bolsa que quieres editar</h2>
        <a style="color: black; text-decoration: none;">Horas acumulada: <strong>{{ sumatorio}}</strong></a>
    </div>
</div>
<div class="text"></div>
    <ul class="list-group">
        {% for bolsa in bolsas %}
            <li class="list-group-item" style="background-color: rgba(0, 0, 0, 0.1); color: black; margin: 5px 50px 10px;">
                <a href="{% url 'edit_bolsahrs' bolsa.id %}" style="color: black; text-decoration: none;">
                    Fecha: <strong>{{ bolsa.fecha|date:"d/m/Y" }}</strong> horas: <strong>{{ bolsa.horas }}</strong> destino: <strong>{{ bolsa.lugar }}</strong> con la: <strong>{{ bolsa.brigada }}</strong> | -- 
                        {% if bolsa.hrs_extras == True %}
                            <strong style="color: red;">Extras</strong> --
                        {% else %}
                            <strong>Asignadas</strong> --
                        {%endif%}
                </a>
                </a>
            </li>
        {% endfor %}
    </ul>   
</div>
{% endblock %}