{% extends 'base.html' %}


{% block title %} editar zona {% endblock title %}
     <div class="button-container">

 {% block content %}
 <div class="button-container" style="text-align: center; margin-top: 10px; display: flex; justify-content: center; align-items: center; height: 10vh;">
    <div class="text-center">
            <h2>Seleccione zona a editar</h2>
    </div>
</div>
<div class="text<i class="fa fa-align-left" aria-hidden="true"></i>
    <ul class="list-group">
        {% for zona in zona %}
    <li class="list-group-item" style="background-color: lightcoral; color: black; margin: 5px 50px 10px;">
            <a href="{% url 'editar_zona' zona.id %}" style="color: black; text-decoration: none;">
                   {{ zona.nombre}}
            </a>
    </li>
        {% endfor %}
    </ul>   
</div>
{% endblock %}